<div class="wrapper">
  <%= link_to 'Voltar', ouvintes_path,:class=>"sbutton" %>
</div><br /><br />
<h3>Cadastrar <b>Ouvinte</b></h3>

<%= render :partial=>"form",:locals=>{:button_name=>"Cadastrar"} %>
